# Entorno virtual
venv/
.env/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Logs y dumps
*.log
*.out
*.bak

# Archivos de prueba
.cache/
htmlcov/
.coverage
.tox/
.pytest_cache/

# Archivos de VSCode / IDE
.vscode/
.idea/

# Archivos del sistema
.DS_Store
Thumbs.db

# Entorno de GitHub Actions
.github/workflows/__pycache__/
